li{
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  padding: 23px 30px;
  border-bottom: .5px solid var(--border-bottom-item-color);
  background: var(--task-list-background-color);
}


li > div{
  display: flex;
  column-gap: 20px;
  align-items: center;
}

li:hover button{

  opacity: 1;
}


label{
  width: 82%;
  font-size: 20px;
  color: var(--tasks-font-color);
  font-weight: 300;
}

button.deleteButton{
  background: none;
  opacity: 0;
  transform: scale(1.2);
}

.selectedTask{

  text-decoration: line-through;
  color: var(--color-item-finished);
}
