.input-container{
  margin-top: 5vh;
  background: var(--task-list-background-color);
  display: flex;
  align-items: center;
  column-gap: 25px;
  min-height: 7vh;
  border-radius: 5px;
  padding: 0 35px;
}

.input-container input{
  width: 85%;
  background: transparent;
  padding: 20px 0;
  font-size: 20px;
  color: var(--tasks-font-color);
}

.input-container input::placeholder{
  color: var(--color-item-finished);
}


@media(max-width: 626px){
  .checkbox-container{
    transform: scale(.9);
  }
}


