.input-container{
  margin-top: 5vh;
  background: var(--background-container-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  border-radius: 5px;
  padding: 0 10px;
}

.input-container input{
  width: 85%;
  background: transparent;
  padding: 20px 0;
  font-size: 20px;
}
