.task-list {
  margin-top: 30px;
  background: var(--task-list-background-color);
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0 20px 80px -5px var(--shadow-task-list) ;
  padding-bottom: 60px;
  max-height: 690px;
  height: 590px;
}


.item-list-container{
  cursor: move;
  display: block;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 10px -3px rgba(0, 238, 255, 0.1),
              0 5px 20px -3px rgba(255, 0, 212, 0.1);
  color: #fff;
    background: linear-gradient(120deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}


.cdk-drag-animating {
  transition: transform  250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging .item-list-container:not(.cdk-drag-placeholder) {
  transition: transform  250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-list footer {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 2.5fr 1fr;
  justify-content: space-between;
  align-content: center;
  height: 60px;
  padding-right: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--task-list-background-color);

}

.task-list footer > div {
  display: flex;
  column-gap: 14px;
  justify-content: center;
  align-items: center;
}

.task-list::-webkit-scrollbar{
  width: 4px;
  background:  var(--task-list-background-color);
  transition: all .5s ease !important;

}

.task-list::-webkit-scrollbar-thumb{
  background: linear-gradient(120deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}


footer > div,
button {
  color: var(--delete-task-font-color);
}

.task-list footer div:first-child {
  font-size: 14px;
  color: var(--delete-task-font-color);
}

button {
  background: none;
  cursor: pointer;
  transition: .5s ease;
}


.task-list footer div:nth-child(2) label {
  font-size: 15px;
  font-weight: 600;
  color: var(--delete-task-font-color);
}

.task-list footer div:nth-child(2) input{
  display: none;
}

.task-list footer div:nth-child(2) input:checked + span{
  color: rgb(46, 133, 231);
}

.task-list footer div:nth-child(3) button {
  font-size: 15px;
  color: var(--delete-task-font-color);
}

.task-list footer div:nth-child(2) span {
  cursor: pointer;
  transition: .5s ease;
}

.task-list footer div:nth-child(2) span:hover {
  color: rgb(46, 133, 231);
}

.task-list footer div:nth-child(3) button:hover {
  color: var(--tasks-font-color);
}

.hasNoTasks{
  height: 440px;
  display: grid;
  place-content: center;
  font-size: 20px;
  color: var(--delete-task-font-color);

}
