.task-list {
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 80px 100px -50px var(--shadow-task-list);
  min-height: 486px;
}

.task-list ul{
  max-height: 463px;
  background: var(--task-list-background-color);
  overflow-y: scroll;
  padding-bottom: 2px;
}

ul > div{
  overflow: hidden;
  min-height: 451px;

}

.item-list-container{
  cursor: move;
  display: block;

}



.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 10px -3px rgba(0, 238, 255, 0.1),
              0 5px 20px -3px rgba(255, 0, 212, 0.1);
  color: #fff;
  background: linear-gradient(120deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}


.cdk-drag-animating {
  transition: transform  250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging .item-list-container:not(.cdk-drag-placeholder) {
  transition: transform  250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-list footer {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 2.5fr 1fr;
  justify-content: center;
  align-content: center;
  height: 60px;
  position: fixed;
  width: 100%;
  background: var(--task-list-background-color);

}

.task-list footer > div {
  display: flex;
  column-gap: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--task-list-background-color);
}

::-webkit-scrollbar{
  width: 4px;
  background:  var(--task-list-background-color);

}

::-webkit-scrollbar-thumb{
  background: linear-gradient(120deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}


footer > div,
button {
  color: var(--delete-task-font-color);
}

.task-list footer div:first-child {
  font-size: 14px;
  color: var(--delete-task-font-color);
}

button {
  background: none;
  cursor: pointer;
  transition: .5s ease;
}


.task-list footer div:nth-child(2) label {
  font-size: 15px;
  font-weight: 600;
  color: var(--delete-task-font-color);
}

.task-list footer div:nth-child(2) input{
  display: none;
}

input:checked + span{
  color: rgb(46, 133, 231);
}

.task-list footer div:nth-child(3) button {
  font-size: 15px;
  color: var(--delete-task-font-color);
  transform: translateX(-10px);
}

.task-list footer div:nth-child(2) span {
  cursor: pointer;
  transition: .5s ease;
}

.task-list footer div:nth-child(2) span:hover {
  color: rgb(46, 133, 231);
}

.task-list footer div:nth-child(3) button:hover {
  color: var(--tasks-font-color);
}

.hasNoTasks{
  height: 370px;
  display: grid;
  place-content: center;
  font-size: 20px;
  margin-top: 0;
  color: var(--delete-task-font-color);

}

@media(max-width: 626px){

  .task-list {
    box-shadow: 0 180px 100px -20px var(--shadow-task-list);
  }

  .task-list > ul{
    max-height: 453px;
    height: 100%;
  }

  ul > div{
    padding-bottom: 26px;
  }

  .task-list footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    justify-content: center;
    height: 80px;
    row-gap: 38px;
    background: none;

  }

  .task-list footer div:first-child{

    justify-content: flex-start;
    padding: 0 40px;
  }

  .task-list footer div:last-child{

    justify-content: flex-end;
    padding: 0 20px;
  }

  .task-list footer div:first-child,
  .task-list footer div:last-child{
    grid-row: 1;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
  }


  .list-filter-buttons{
    grid-column: 1/3;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    column-gap: 30px;
    background: var(--task-list-background-color);

  }


.task-list footer div:nth-child(2) label {
  font-size: 18px;
}
}
