<div class="task-list">
  <ul >
    <div>
      <task-item  *ngFor="let task of (taskList$|async) as tasks" [task]="task"></task-item>
    </div>
    <!-- <div *ngIf="!(taskList$|async)" class="hasNoTasks">
      No Tasks
    </div> -->
  </ul>
  <footer>
    <div>
      <span>{{(taskList$|async)?.length}} items left</span>
    </div>
    <div class="list-filter-buttons">
      <label for="All">
        <input type="radio" id="All" name="listOption" (change)="getTaskList()" checked>
        <span>All</span>
      </label>

      <label for="Active">
        <input type="radio" id="Active" name="listOption" (change)="getActiveTaskList()">
        <span>Active</span>
      </label>

      <label for="Completed">
        <input type="radio" id="Completed" name="listOption" (change)="getCompletedTaskList()">
        <span>Completed</span>
      </label>
    </div>
    <div>
      <button (click)="clearCompleted()">Clear Completed</button>
    </div>
  </footer>
</div>
