<div class="task-list">
  <ul>
    <div class="list" *ngIf="taskList.length > 0" cdkDropList (cdkDropListDropped)="drop($event)">
      <task-item class="item-list-container"  *ngFor="let task of taskList" [task]="task" cdkDrag></task-item>
    </div>
    <div *ngIf="taskList.length == 0" class="hasNoTasks">
      No Tasks
    </div>
  </ul>
  <footer>
    <div>
      <span>{{taskList?.length}} items left</span>
    </div>
    <div class="list-filter-buttons">
      <label for="All">
        <input type="radio" id="All" name="listOption" (change)="getTaskList()" checked>
        <span>All</span>
      </label>

      <label for="Active">
        <input type="radio" id="Active" name="listOption" (change)="getActiveTaskList()">
        <span>Active</span>
      </label>

      <label for="Completed">
        <input type="radio" id="Completed" name="listOption" (change)="getCompletedTaskList()">
        <span>Completed</span>
      </label>
    </div>
    <div>
      <button (click)="clearCompleted()">Clear Completed</button>
    </div>
  </footer>
</div>
