<div class="task-list">
  <ul>
    <task-item *ngFor="let task of (taskList$|async)" [task]="task"></task-item>
    <div *ngIf="!(taskList$|async)" class="hasNoTasks">
      No Tasks
    </div>
  </ul>
  <footer>
    <div>
      <span>{{(taskList$|async)?.length}} items left</span>
    </div>
    <div class="list-filter-buttons">
      <button>All</button>
      <button>Active</button>
      <button>Completed</button>
    </div>
    <div>
      <button>Clear Completed</button>
    </div>
  </footer>
</div>
